<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AssessmentSuite">
	<suite-files>
		<suite-file path="./src/test/resources/testdata/suites/heatClinic.xml" />
			<suite-file path="./src/test/resources/testdata/suites/tutorialsNinja.xml" />
				
	</suite-files>
</suite> <!-- Suite -->
